@model DubuisGelin.Models.HomeController.IndexTableViewModel
@using DubuisGelin.Controllers

<h2>@Model.NameTable</h2>

@Html.ActionLink("Créer un champs", nameof(HomeController.AddChampsToTable), "Home",null ,new {  @class=" btn btn-default"} )
@Html.ActionLink("Créer des valeurs", nameof(HomeController.AddValues), "Home", null, new { @class = " btn btn-default" })

<label>Modifier la table</label>
<label>Supprimer un champs</label>

<table style="width:100%">
    <tr>
        @foreach (var champ in Model.ListeChamps)
        {
            <th style="width:10%">@champ.Nom</th>
        }
    </tr>
    @foreach (var liaison in Model.ListeLiaison)
    {
        <tr>
            @foreach (var item in liaison.ListeValue)
            {
                <td>@item.Nom</td>
            }
        </tr>

    }

</table>
